body{
	color:#333;
}
.navigation li a{
	color:#266141;
}
.navigation li a:hover,.navigation li a.active{
	background:#6BA53A;
	box-shadow:0px 0px 40px rgba(0,0,0,0.3) inset;
}
.navigation-handler{
	color:#266141;
}
.navigation-handler:hover,.navigation-handler.opened{
	background:#6BA53A;
	box-shadow:0px 0px 40px rgba(0,0,0,0.3) inset;
}
.tabs-list li > a{
	color:#686868;
	background:#D7D7D7;
}
.tabs-list li > a:hover{
	color:#000;
}
.tabs-list li.active > a{
	background:#E5EDD7;
	color:#3F6126;
}
.content-header{
	background:#E5EDD7;
}
.table-action-button:hover{
	background:#71A950;
}
.moving-row-holder{
	background:#71A950 !important;
}
.moving-row-holder > *{
	border-color:#71A950 !important;
}
.work-table-link{
	color:#71A950;
}
.language-wrapper{
	background:#71A950;
}
.language-wrapper:hover,.language-wrapper.active{
	background:#619437;
}
*[sort-column][sort-direction='asc']{
	background-image:url(images/sort-icon-asc.png) !important;
}
*[sort-column][sort-direction='desc']{
	background-image:url(images/sort-icon-desc.png) !important;
}
.notification-close-button{
	background:#6BA53A;
}